---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__subtitle, .page__date {
    display: none;
}

.site-logo img {
    border-radius: 25px;
}

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 20px; // originally 16px
    @include breakpoint($medium) {
        font-size: 22px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 24px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 26px; // originally 22px
    }
}

.page__footer {
    color: #000 !important;
}

.page__footer-copyright {
    float: right;
}

html, .greedy-nav, .subscribe, .page__footer {
    background-color: #fff;
}

.subscribe {
    display: flex;
    justify-content: center;
    padding: 3px;
    text-align: right;

    font-size: 14px !important; // originally 16px
    @include breakpoint($medium) {
        font-size: 16px !important; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 18px !important; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 20px !important; // originally 22px
    }

    input {
        background-color: #fff;
        border: 1px solid #0092ca;
        margin-left: 10px;
        height: 30px;
        align-self: center;
    }

    input[type="submit"] {
        padding: 6px;
        color: #fff;
        background-color: #0092ca;
        border-bottom: 1px solid #ccc;        
        font-size: 12px !important; // originally 16px
        @include breakpoint($medium) {
            font-size: 14px !important; // originally 18px
        }

        @include breakpoint($large) {
            font-size: 16px !important; // originally 20px
        }

        @include breakpoint($x-large) {
            font-size: 18px !important; // originally 22px
        }
    }
}